*{margin: 0; padding: 0}

body{
	background: #d1eda1;
	display: flex;
    justify-content: center; 
    height: 100vh;/*vh - viewport height чтобы #content растянулось на всю высотту 
    				экрана, при увиличении экрана это не помогает*/
}

#content{
	width: 60%;
	background: white;
	font-size: 20px;
	border-left: 3px double #C4C2C2;
	border-right: 3px double #C4C2C2;	 
}

h1{
	text-align: center;
	padding: 10px;
}



